body {
  background-color: var(--near-white-color);
  color: #34495d;
}

.App {
  width: 100%;
  height: 200vh;
}

.App-header {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: 500;
}

.drawer-wrapper {
  min-height: 0;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: min-height 0.5s ease-out;
}

.drawer-wrapper.open {
  min-height: var(--drawer-height);
}

.drawer {
  background-color: rgb(14, 176, 230, 0.5);
  height: 0;
  width: 100vw;
  position: relative;
  top: calc(-1 * var(--drawer-height));
  left: 0;
  transition: top 0.5s ease-out, height 0.5s ease-out;
}

.drawer.open {
  top: 0;
  height: var(--drawer-height) + 10vh;
  padding: 1rem;
}

.line {
  fill: none;
  /* stroke: #ffab00; */
  stroke-width: 3;
}

.overlay {
  fill: none;
  pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
  r: 2;
  cursor: pointer;
  fill: var(--secondary-color);
  fill-opacity: 1;
  stroke-width: 5;
}

.focus {
  r: 2;
  cursor: pointer;
  fill: black;
}

/* https://www.w3schools.com/html/html_tables.asp */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td,
th {
  border: 0px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#table-scroll {
  overflow: auto;
  margin-top: 20px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#attention-weights tr > td {
  text-align: center;
}

#attention-weights {
  margin-top: 50px;
  width: var(--charts-width);
  position: relative;
}

.card {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  border: 0;
  font-weight: 400;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.css-b62m3t-container {
  width: 100%;
  margin: 5% 10%;
}

.input-range__track--active {
  background-color: var(--main-color) !important;
}

.input-range--disabled .input-range__track {
  background-color: var(--secondary-color) !important;
  cursor: not-allowed;
}

.centered-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  padding: 1rem 2rem;
  cursor: pointer;
  background-color: var(--main-color);
  color: #fff;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  margin: 0.375rem;
  border: 0;
  border-radius: 0.125rem;
  text-transform: uppercase;
  white-space: normal;
  word-wrap: break-word;
  width: 200px;
}

.btn:hover {
  text-decoration: none;
  outline: 0;
  background-color: #0eaae6;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
    0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

/* below are styles from Twitter */
#new-post-polarity {
  color: #8B98A5;
  padding: 2rem;
  z-index: 1;

  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  margin: 2rem;
  min-height: 0px;
  min-width: 0px;
  background-color: white;
  width: 90%;
}

#polarity-btn {
  background-color: rgb(29, 155, 240);
  margin-left: 12px;
  min-width: 36px;
  min-height: 36px;
  outline-style: none;
  transition-property: background-color, box-shadow;
  transition-duration: 0.2s;
  user-select: none;
  padding-left: 16px;
  padding-right: 16px;
  border-color: rgba(0, 0, 0, 0);
  border-width: 1px;
  border-style: solid;
  border-radius: 9999px;
  align-items: stretch;
  border: 0 solid black;
  box-sizing: border-box;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  cursor: pointer;
  font-size: 15px;

  color: rgb(255, 255, 255);
  font-weight: 700;
  line-height: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}