body {
  background-color: #ededee;
  color: #34495d;
}

.App {
  width: 100%;
}

.App-header {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: 500;
}

.drawer-wrapper {
  min-height: 0;
  width: 100vw;
  position: relative;
  overflow: scroll;
  transition: min-height 0.5s ease-out;
}

.drawer-wrapper.open {
  min-height: var(--drawer-height);
}

.drawer {
  background-color: rgb(14, 176, 230, 0.5);
  height: 0;
  width: fit-content;
  position: relative;
  top: calc(-1 * var(--drawer-height));
  left: 0;
  transition: top 0.5s ease-out, height 0.5s ease-out;
}

.drawer.open {
  top: 0;
  height: var(--drawer-height);
  padding: 1rem;
}

.line {
  fill: none;
  /* stroke: #ffab00; */
  stroke-width: 3;
}

.overlay {
  fill: none;
  pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
  fill: #ffab00;
  stroke: #fff;
}

.focus {
  fill: none;
  stroke: steelblue;
}

/* https://www.w3schools.com/html/html_tables.asp */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 0px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#attention-weights tr > td {
  text-align: center;
}

#attention-weights {
  margin-top: 50px;
}

.card {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  border: 0;
  font-weight: 400;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.css-b62m3t-container {
  width: 100%;
  margin: 5% 10%;
}

.input-range__track--active {
  background-color: #3d91ff !important;
}

.input-range--disabled .input-range__track {
  background-color: #9e9e9e !important;
  cursor: not-allowed;
}

.centered-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  padding: 1rem 2rem;
  cursor: pointer;
  background-color: #3d91ff;
  color: #fff;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  margin: 0.375rem;
  border: 0;
  border-radius: 0.125rem;
  text-transform: uppercase;
  white-space: normal;
  word-wrap: break-word;
  width: 200px;
}

.btn:hover {
  text-decoration: none;
  outline: 0;
  background-color: #0eaae6;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
    0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
