.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  width: 90%;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.drawer-wrapper {
  min-height: 0;
  margin-bottom: 10vh;
  width: 100vw;
  position: relative;
  overflow: scroll;
  transition: min-height 0.5s ease-out;
}

.drawer-wrapper.open {
  min-height: var(--drawer-height);
}

.drawer {
  background-color: rgb(14, 176, 230, 0.5);
  height: 0;
  width: fit-content;
  position: relative;
  top: calc(-1 * var(--drawer-height));
  left: 0;
  transition: top 0.5s ease-out, height 0.5s ease-out;
}

.drawer.open {
  top: 0;
  height: var(--drawer-height);
  padding: 1rem;
}

.line {
  fill: none;
  /* stroke: #ffab00; */
  stroke-width: 3;
}

.overlay {
  fill: none;
  pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
  fill: #ffab00;
  stroke: #fff;
}

.focus {
  fill: none;
  stroke: steelblue;
}

/* https://www.w3schools.com/html/html_tables.asp */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 0px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#attention-weights tr > td {
  text-align: center;
}

#attention-weights {
  margin-top: 50px;
}
